/* dr and map styles start */
.contact {
  margin: 0px 75px;
}

/* doctor styles start */
.doctor-image {
  max-width: 100%;
  height: auto;
  border: 1px solid #000;
}
/* doctor styles end */

/* map styles start */

/* map styles end */

/* dr and map styles end */
